* {
  margin: 0px;
  padding: 0px;
  /* border: 1px solid red; */
}


.html {
  font-size: 65%;
  /* Sets base font size for the HTML document */
}

body {
  font-family: Arial, Helvetica, sans-serif;
  /* Sets the font family for the body */
}



/* Utility classes for buttons */
.btn {
  display: inline-block;
  /* Allows the button to be inline with other elements */
  padding: 0.8em 1.5em;
  /* Adds padding inside the button */
  text-decoration: none;
  /* Removes underline from links */
  border-radius: 50px;
  /* Rounds the corners of the button */
  cursor: pointer;
  /* Changes cursor to pointer on hover */
  outline: none;
  /* Removes outline on focus */
  margin-top: 1.5em;
  /* Adds margin above the button */
  text-transform: uppercase;
  /* Transforms text to uppercase */
  font-weight: small;
  /* Sets font weight */
}

.btn-primary {
  color: #fff;
  /* Sets text color for primary button */
  background: black;
  /* Sets background color for primary button */
}

.btn-secundary {
  color: #fff;
  /* Sets text color for secondary button */
  background: green;
  /* Sets background color for secondary button */
}

.btn-primary:hover {
  background: #117964;
  /* Changes background color on hover */
  transition: all 0.3s ease-in-out;
  /* Smooth transition for hover effect */
}


/* Navigation styles */
.container {
  max-width: 1200px;
  /* Sets maximum width for the container */
  width: 90%;
  /* Sets width to 90% of the viewport */
  margin: auto;
  /* Centers the container */
}

.navbar {
  box-shadow: 37px -42px 10px 37px #aaa;
  /* Adds shadow effect to the navbar */
  /* Fixes the navbar at the top of the viewport */
  /* position: fixed; */
  width: 100%;
  /* Sets width to 100% */
  background: #fff;
  /* Sets background color for navbar */
  /* Sets height for navbar */
  height: 70px;
  display: flex;
  /* Uses flexbox for layout */
  align-items: center;
  /* Vertically centers items */
  z-index: 12;
  /* Ensures navbar is above other elements */
}

.navbar-container {
  display: flex;
  /* Uses flexbox for layout */
  justify-content: space-between;
  /* Spaces items evenly */
  align-items: center;
  /* Vertically centers items */
}

.bar-icon {
  display: none;
}

.menu-items {
  display: flex;
  /* Uses flexbox for menu items */
  order: 2;
  /* Sets order of the menu items */
}

.menu-items li {
  list-style: none;
  /* Removes bullet points from list items */
  margin-left: 1.5rem;
  /* Adds left margin to list items */
  margin-bottom: 0.5rem;
  /* Adds bottom margin to list items */
  font-size: 1.2rem;
  /* Sets font size for list items */
}

.menu-items a {
  text-decoration: none;
  /* Removes underline from links */
  color: #444;
  /* Sets text color for links */
  font-weight: 500;
  /* Sets font weight for links */
}

.logo {
  order: 1;
  /* Sets order of the logo */
  font-size: 2.3rem;
  /* Sets font size for the logo */
  /* Adds bottom margin to the logo */
  /* margin-bottom: 0.5rem;  */
}


/* Banner styles */
.showcase-area {
  height: 50vh;
  /* Sets height for the showcase area */
  background: linear-gradient(rgba(240, 240, 240, 0.144),
      /* Gradient color */
      rgba(255, 255, 255, 0.336)
      /* Gradient color */
    ), url("http://alturl.com/79qx5");
  /* Background image */
  background-position: center;
  /* Centers the background image */
  background-size: cover;
  /* Covers the entire area with the image */
  background-repeat: no-repeat;
  /* Prevents background image from repeating */
}


.showcase-container {
  display: flex;
  /* Uses flexbox for layout */
  flex-direction: column;
  /* Stacks items vertically */
  align-items: center;
  /* Centers items horizontally */
  justify-content: center;
  /* Centers items vertically */
  height: 100%;
  /* Sets height to 100% of the parent */
  font-size: 1.6rem;
  /* Sets font size */
  row-gap: 20px;
  /* Adds space between rows */
}

.main-title {
  text-transform: uppercase;
  /* Transforms text to uppercase */
  margin: 1.5em 1.5rem 0 1.5rem;
  /* Adds top margin */
  font-size: 4rem;
  /* Sets font size for the main title */
  color: chocolate;
  /* Sets text color for the main title */
}

.showcase-container p {
  color: #fff;
  /* Sets text color for paragraph */
  margin: 0 1.5rem;
}


/* Food section styles */
#food {
  padding: 4rem 0 4rem 0;
  /* Adds padding to the food section */
}

#food h2 {
  text-align: center;
  /* Centers the heading */
  font-size: 2.5rem;
  /* Sets font size for the heading */
  margin-bottom: 40px;
  /* Adds bottom margin */
  text-transform: uppercase;
  /* Transforms text to uppercase */
  color: black;
  /* Sets text color */
  font-weight: 700;
  /* Sets font weight */
}

.food-container {
  display: flex;
  /* Uses flexbox for layout */
  justify-content: space-between;
  /* Spaces items evenly */
}

.food-container img {
  display: block;
  /* Displays image as a block element */
  width: 100%;
  /* Sets image width to 100% */
  margin: auto;
  /* Centers the image */
  max-height: 300px;
  /* Sets maximum height for the image */
  object-fit: cover;
  /* Ensures the image covers the area */
  border-radius: 10px;
  /* Rounds the corners of the image */
  object-position: center;
  /* Centers the image within its container */
}

.img-container {
  margin: 0 1rem;
  /* Adds horizontal margin */
  position: relative;
  /* Positions the container relative to its normal position */
}

.img-content {
  position: absolute;
  /* Positions the content absolutely within the container */
  top: 70%;
  /* Positions content 70% from the top */
  left: 50%;
  /* Centers content horizontally */
  transform: translate(-50%, -50%);
  /* Centers content vertically */
  opacity: 0;
  /* Hides content initially */
  z-index: 2;
  /* Ensures content is above other elements */
  text-align: center;
  /* Centers text */
  transition: all 0.3s ease-in-out 0.1s;
  /* Smooth transition for opacity */
}

.img-content h3 {
  color: #fff;
  /* Sets text color for the heading */
  font-size: 2.2rem;
  /* Sets font size for the heading */
}

.img-content a {
  font-size: 1.2rem;
  /* Sets font size for the link */
}

.img-container::after {
  content: '';
  /* Creates a pseudo-element */
  display: block;
  /* Displays the pseudo-element as a block */
  position: absolute;
  /* Positions the pseudo-element absolutely */
  top: 0;
  /* Positions at the top */
  left: 0;
  /* Positions at the left */
  width: 100%;
  /* Sets width to 100% */
  height: 100%;
  /* Sets height to 100% */
  background: rgba(0, 0, 0, 0.871);
  /* Semi-transparent black background */
  opacity: 0;
  /* Hides the pseudo-element initially */
  z-index: 1;
  /* Ensures it is below the content */
  transform: scaleY(0);
  /* Scales the element down to 0 */
  transform-origin: 100% 100%;
  /* Sets the origin for scaling */
  transition: all 0.3s ease-in-out;
  /* Smooth transition for scaling */
}

.img-container:hover::after {
  opacity: 1;
  /* Shows the pseudo-element on hover */
  transform: scaleY(1);
  /* Scales the element to full size on hover */
}

.img-container:hover .img-content {
  opacity: 1;
  /* Shows the content on hover */
  top: 40%;
  /* Adjusts position on hover */
}

/* Food Menu Section */
#food-menu {
  background-color: whitesmoke;
  /* Sets background color for the food menu */
  padding-top: 4rem;
  /* Adds top padding */
}

.food-menu-heading {
  text-align: center;
  /* Centers the heading */
  font-size: 3.4rem;
  /* Sets font size for the heading */
  color: black;
  /* Sets text color */
  font-weight: 700;
  /* Sets font weight */
}

.food-menu-container {
  display: flex;
  /* Uses flexbox for layout */
  flex-wrap: wrap;
  /* Allows items to wrap to the next line */
  padding: 50px 0px 30px 10px;
  /* Adds padding */
}

.food-menu-container img {
  display: block;
  /* Displays image as a block element */
  width: 250px;
  /* Sets width for the image */
  height: 250px;
  /* Sets height for the image */
  border-radius: 50%;
  /* Rounds the corners of the image */
  object-fit: cover;
  /* Ensures the image covers the area */
  object-position: center;
  /* Centers the image within its container */
}

.food-menu-item {
  display: flex;
  /* Uses flexbox for layout */
  flex: 1 1 600px;
  /* Allows items to grow and shrink with a base width */
  justify-content: space-evenly;
  /* Spaces items evenly */
  margin-bottom: 4rem;
  /* Adds bottom margin */
}

.food-description {
  margin: auto 1.5rem;
  /* Adds horizontal margin */
}

.font-title {
  font-size: 1.8rem;
  /* Sets font size for the title */
  font-weight: 400;
  /* Sets font weight */
  color: #444;
  /* Sets text color */
}

.food-description p {
  font-size: 1.4rem;
  /* Sets font size for description */
  color: #555;
  /* Sets text color */
  font-weight: 500;
  /* Sets font weight */
}

.food-description .food-price {
  color: #117964;
  /* Sets color for the price */
  font-weight: 700;
  /* Sets font weight for the price */
}

/* Testimonials Section */
#testimonials {
  padding: 4rem 0;
  /* Adds vertical padding */
  background-color: white;
  /* Sets background color */
}

.testimonial-title {
  text-align: center;
  /* Centers the heading */
  font-size: 2.8rem;
  /* Sets font size for the heading */
  color: black;
  /* Sets text color */
  font-weight: 700;
  /* Sets font weight */
}

.testimonial-container {
  display: flex;
  /* Uses flexbox for layout */
  justify-content: space-between;
  /* Spaces items evenly */
  margin-top: 30px;
  /* Adds top margin */
  column-gap: 20px;
  /* Adds gap between columns */
}

.testimonial-box .checked {
  color: #ff9529;
  /* Sets color for checked stars */
}

.testimonial-box .testimonial-text {
  margin: 1rem 0;
  /* Adds vertical margin */
  color: #444;
  /* Sets text color */
}

.testimonial-box {
  text-align: center;
  /* Centers text */
  padding: 20px;
  /* Adds padding */
  background-color: white;
  /* Sets background color */
  border-radius: 10px;
  /* Rounds corners */
  display: flex;
  /* Uses flexbox for layout */
  flex-direction: column;
  /* Stacks items vertically */
  row-gap: 10px;
  /* Adds space between rows */
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  /* Adds shadow effect */
}

.customer-photo img {
  display: block;
  /* Displays image as a block element */
  width: 150px;
  /* Sets width for the customer photo */
  height: 150px;
  /* Sets height for the customer photo */
  object-fit: cover;
  /* Ensures the image covers the area */
  object-position: center;
  /* Centers the image within its container */
  border-radius: 50%;
  /* Rounds the corners of the image */
  margin: auto;
  /* Centers the image */
}

.customer-photo p {
  padding-top: 20px;
  /* Adds top padding for customer name */
}


/* Contact Section */
#contact {
  padding: 4rem 0;
  /* Adds vertical padding */
  background: rgb(226, 226, 226);
  /* Sets background color */
}

.contact-container {
  display: flex;
  /* Uses flexbox for layout */
  background: #fff;
  /* Sets background color */
  border-radius: 10px;
  /* Rounds corners */
  padding: 20px;
  /* Adds padding */
}

.contact-img {
  width: 50%;
  /* Sets width for the contact image */
}

.contact-img img {
  display: block;
  /* Displays image as a block element */
  /* height: 420px; */
  aspect-ratio: auto;
  /* Sets height for the contact image */
  border-top-left-radius: 10px;
  /* Rounds top left corner */
  border-bottom-left-radius: 10px;
  /* Rounds bottom left corner */
  width: 100%;
  /* Sets width to 100% */
  object-position: center;
  /* Centers the image within its container */
  object-fit: cover;
  /* Ensures the image covers the area */
}

.form-container {
  padding: 1rem;
  /* Adds padding */
  width: 50%;
  /* Sets width for the form container */
  margin: auto;
  /* Centers the form container */
}

.form-container textarea {
  display: block;
  /* Displays textarea as a block element */
  width: 100%;
  /* Sets width to 100% */
  border: none;
  /* Removes border */
  /* padding: 1rem 0; */
  /* Adds vertical padding */
  box-shadow: none;
  /* Removes shadow */
  outline: none;
  /* Removes outline */
  /* margin-bottom: 1rem; */
  /* Adds bottom margin */
  color: #444;
  /* Sets text color */
  font-weight: 500;
  /* Sets font weight */
  background: whitesmoke;
  /* Sets background color */
  padding: 10px;
  /* Adds left padding */
  border: 1px solid;
  /* Adds border */
  border-radius: 10px;
  /* Rounds corners */
  color: #444;
  /* Sets text color */
  resize: none;
  /* Prevents resizing of the textarea */
}

.form-container h2 {
  font-size: 2.7rem;
  /* Sets font size for the heading */
  color: black;
  /* Sets text color */
  font-weight: 700;
  /* Sets font weight */
  margin-bottom: 1.5rem;
  /* Adds bottom margin */
  margin-top: -1.2rem;
  /* Adjusts top margin */
}

/* Footer Section */
#footer h2 {
  text-align: center;
  /* Centers the footer text */
  font-size: 1.8rem;
  /* Sets font size for the footer text */
  padding: 0.6rem;
  /* Adds padding */
  font-weight: 500;
  /* Sets font weight */
  color: black;
  /* Sets text color */
  background: white;
  /* Sets background color */
}

@media (min-width: 780px) and (max-width: 900px) {

  .food-menu-container img {
    width: 200px;
    height: 200px;
  }

  .btn {
    margin-top: 1em;
    padding: 0.5em 1.5em;
  }

  .form-container h2 {
    margin-bottom: 0.8rem;
  }
}

@media screen and (max-width: 780px) {
  .bar-icon {
    display: block;
    font-size: xx-large;
  }

  /* .navbar-container {
    
  } */

  .menu-items {
    display: none;
  }

  .food-menu-container img {
    width: 150px;
    height: 150px;
  }

  .testimonial-container {
    display: block;
  }

  .testimonial-box {
    margin: 20px 0px;
  }


  .contact-container {
    display: flex;
    /* Uses flexbox for layout */
    background: #fff;
    /* Sets background color */
    border-radius: 10px;
    /* Rounds corners */
    padding: 20px;
    /* Adds padding */
    flex-direction: column;
  }

  .contact-img {
    width: 100%;
  }

  .contact-img img {
    /* width: 50%; */
    display: block;
    aspect-ratio: auto;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    border-bottom-left-radius: 0px;
    border-bottom-right-radius: 0px;
    /* object-position: center; */
    /* object-fit: cover; */
    margin-bottom: 40px;
  }

  .form-container {
    padding: 0px;
    width: 100%;
    margin: 0px;
  }

  .form-container textarea {
    display: block;
    width: 97%;
    border: none;
    box-shadow: none;
    outline: none;
    color: #444;
    font-weight: 500;
    background: whitesmoke;
    padding-left: 20px;
    border: 1px solid;
    border-radius: 10px;
    color: #444;
    resize: none;
    margin: 0px;
    padding: 10px;
  }

  #footer h2 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 560px) {

  .food-container {
    flex-direction: column;
  }

  .food-type {
    margin: 20px auto;
  }
}